<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="div">
<!--    <h1 class="one three">123</h1>-->
<!--    <h1 class="two">123</h1>-->
<!--    <h1 id="1">123</h1>-->
<!--    <h1 id="2">123</h1>-->
<!--    <h2 id="3">123</h2>-->
<!--    <h2 id="4">123</h2>-->
<!--    <h2 class="one">123</h2>-->
<!--    <h2 class="two">123</h2>-->
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script>
    $(".div").append("<h1>1</h1>")
    alert($(".div h1").text())
</script>




</body>
</html>